@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}


*::-webkit-scrollbar-thumb {
  border: 3px solid white;
  background: gray;
  border-radius: 8px;

  transition: .2s all;
}

*::-webkit-scrollbar-thumb:hover {
  background: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}
